.page[b-jn6blfgouf] {
    background-color: #212121;
    height: 100vh;
}

.main[b-jn6blfgouf] {
    background-color: #212121;
    height: 100vh;
}

.sidebar[b-jn6blfgouf] {
    background-color: #212121;
}


