.avatar[b-kia4hm5oty] {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    top: 20px;
}

.avatar_shade[b-kia4hm5oty] {
    position: absolute;
    top: -20px;
    left: 0px;
    opacity: 0.80;
}

.char_data[b-kia4hm5oty] {
    position: absolute;
    bottom: 10px;
    left: 60px;
    font-weight: 500;
    font-size: .75em;
}

.char_head[b-kia4hm5oty] {
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: 175px;
    height: 175px;
    background-color: #333;
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 5px 5px 10px #333;
}

.char_name[b-kia4hm5oty] {
    position: absolute;
    top: 6px;
    left: 10px;
    font-weight: 400;
    font-size: .85em;
}

.settings[b-kia4hm5oty] {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    background-color: rgba(24, 24, 24, 0.75);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings img[b-kia4hm5oty] { width:26px; height: 26px; }

@media only screen 
  and (min-width: 320px) 
  and (max-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {


    .char_head[b-kia4hm5oty] {
        bottom: 0px;
        left: 0px;
        margin-left: -25px;
        margin-bottom: -25px;
        transform: scale(.6,.6);
    }

    .char_data[b-kia4hm5oty], .settings[b-kia4hm5oty] { transform: scale(1.25,1.25); }
    .char_data[b-kia4hm5oty] {
        left: 70px;
    }
    

}