Armor<div class="skills_container">
    <div class="skills_quad q1">
        <div class="quad_container">

            <div class="quad_stat">
                Brawn  - Prestiging will improve SOMETHING.
            </div>

            <div class="quad_content">
                <ul class="quad_skills_and_perks">
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Fountain of Life: Increase ammount of regen given by armor.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Head Proficiency: Increase protection of head armor.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Back Proficiency: Increase protection of back armor.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Face Proficiency: Increase protection of face armor.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Thick Skin: Increase max health given by armor.
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="skills_quad q2">
        <div class="quad_container">

            <div class="quad_stat">
                SOMETHING - Prestiging will improve SOMETHING.
            </div>

            <div class="quad_content">
                <ul class="quad_skills_and_perks">
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Pack Mule: Decrease movement penalty from all armor.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Arm Proficiency: Increase protection of arm armor.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Chest Proficiency: Increase protection of chest armor.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Hand Proficiency: Increase protection of hand armor.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Helping Hand: Decrease movement penalty from all weapons.
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="skills_quad q3">
        <div class="quad_container">

            <div class="quad_stat">
                Capacity - Prestiging will improve the maximum values new armor provides.
            </div>

            <div class="quad_content">
                <ul class="quad_skills_and_perks">
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Tortise: Increase max armor.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Leg Proficiency: Increase protection of leg armor.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Waist Proficiency: Increase protection of waist armor.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Foot Proficiency: Increase protection of foot armor.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Energize: Increase recharge of all armor.
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="skills_quad q4">
        <div class="quad_container">

            <div class="quad_stat">
                Recharge - Prestiging will improve the recharge values new armor provides.
            </div>

            <div class="quad_content">
                <ul class="quad_skills_and_perks">
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Heart: Increase max health and armor.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Shoulder Proficiency: Increase protection of shoulder armor.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Wrist Proficiency: Increase protection of wrist armor.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Neck Proficiency: Increase protection of neck armor.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Mind: Increase regen and recharge of all armor.
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>

@code
{
    
}