<div class="skills_container">
    <div class="skills_quad q1">
        <div class="quad_container">

            <div class="quad_stat">
                Calm
            </div>

            <div class="quad_content">
                <ul class="quad_skills_and_perks">
                    <li class="quad_skills">
                        <div class="node_div">

                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">

                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">

                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">

                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">

                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="skills_quad q2">
        <div class="quad_container">

            <div class="quad_stat">
                Chaos
            </div>

            <div class="quad_content">
                <ul class="quad_skills_and_perks">
                    <li class="quad_skills">
                        <div class="node_div">

                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">

                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">

                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">

                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">

                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="skills_quad q3">
        <div class="quad_container">

            <div class="quad_stat">
                Quantum
            </div>

            <div class="quad_content">
                <ul class="quad_skills_and_perks">
                    <li class="quad_skills">
                        <div class="node_div">

                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">

                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">

                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">

                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">

                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="skills_quad q4">
        <div class="quad_container">

            <div class="quad_stat">
                Chemic
            </div>

            <div class="quad_content">
                <ul class="quad_skills_and_perks">
                    <li class="quad_skills">
                        <div class="node_div">

                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">

                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">

                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">

                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">

                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>

@code
{
    
}