<div class="skills_container">
    <div class="skills_quad q1">
        <div class="quad_container">

            <div class="quad_stat">
                Nimbleness - Prestiging will improve the movement provided by new armor.
            </div>

            <div class="quad_content">
                <ul class="quad_skills_and_perks">
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Pick Lock: Unlock doors without keys.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">

                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">

                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">

                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">

                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="skills_quad q2">
        <div class="quad_container">

            <div class="quad_stat">
                Karma - Prestiging will improve the chances of new lucky loot.
            </div>

            <div class="quad_content">
                <ul class="quad_skills_and_perks">
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Share to Care: Share EXP earned to find loot of better rarity and quality.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Rabbit Foot: Increase occurances of lucky items.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">

                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Unstable: Increase chance of erratic items.
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="skills_quad q3">
        <div class="quad_container">

            <div class="quad_stat">
                Insight - Prestiging will improve the rarity of new loot.
            </div>

            <div class="quad_content">
                <ul class="quad_skills_and_perks">
                    <li class="quad_skills">
                        <div class="node_div">

                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">

                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">

                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">

                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">

                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="skills_quad q4">
        <div class="quad_container">

            <div class="quad_stat">
                Intellect - Prestiging will improve the quality of new loot.
            </div>

            <div class="quad_content">
                <ul class="quad_skills_and_perks">
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Street Smarts: Decrease objective difficulty.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Kill the King: Increase damage against boss MOBs.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Volcano Insurance: Decrease ammount of pentalty from incomplete objectives.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Nostradomous: Additional options of personal objectives to choose from.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Juiced: Increase ammount of EXP earned from personal objectives.
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@code
{
    
}