<div class="skills_container">
    <div class="skills_quad q1">
        <div class="quad_container">

            <div class="quad_stat">
                Movement - Prestiging will improve the number of movement actions new loot provides.
            </div>

            <div class="quad_content">
                <ul class="quad_skills_and_perks">
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Lightfoot: Increases movement by 1 per level.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Ranger: Decreases chance of traps and random MOB spawns.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Juggernaut: Increase chance of smashing door in one hit.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Rouge: Decreases cost of moving through occupied zones.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Creatine Shake: Increases standard by 1 per level.
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="skills_quad q2">
        <div class="quad_container">

            <div class="quad_stat">
                Standard - Prestiging will improve the number of standard actions new loot provides.
            </div>

            <div class="quad_content">
                <ul class="quad_skills_and_perks">
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Multitask: Increases standard by 1 per level.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Locksmith: Decreases difficulty of lockpicking. 
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Soldier: Increase EXP earned from objectives.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Battering Ram: Increases damage against doors.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Thief: Increase EXP earned from combat.
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="skills_quad q3">
        <div class="quad_container">

            <div class="quad_stat">
                Constitution  - Prestiging will improve the amount health new loot provides.
            </div>

            <div class="quad_content">
                <ul class="quad_skills_and_perks">
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Heal: Heals a % of living targets health.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Bullettime: Decreases accuracy of enemy attacks.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Siphon: Returns health based on a % of damage dealt.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Gatorback: Decreases damage dealt by enemy attacks.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Barrier: Decreases damage dealt to friendlies in a specific zone.
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="skills_quad q4">
        <div class="quad_container">

            <div class="quad_stat">
                Stamina  - Prestiging will improve the amout of SOMETHING new loot provides.
            </div>

            <div class="quad_content">
                <ul class="quad_skills_and_perks">
                    <li class="quad_skills">
                        <div class="node_div">
                            
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Cleric: Increase power of life giving skills.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">

                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Wizard: Increase power of elemental damage.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">

                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>

@code
{
    
}