<div class="skills_container">
    <div class="skills_quad q1">
        <div class="quad_container">

            <div class="quad_stat">
                Combo - Prestiging will improve the capacity of new melee weapons.
            </div>

            <div class="quad_content">
                <ul class="quad_skills_and_perks">
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Hard Strike: Increase damage of succesful melee hits.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Knife Proficiency: Increase damage dealt by knife.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Swift Flow: Increase hit count of all ranged weapons.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Sword Proficiency: Increase damage dealt by swords.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Dead Eye: Increase accuracy of all thrown weapons.
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="skills_quad q2">
        <div class="quad_container">

            <div class="quad_stat">
                Strike - Prestiging will increse the strike count of new melee weapons.
            </div>

            <div class="quad_content">
                <ul class="quad_skills_and_perks">
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Street Fighter: Increase combo of all melee weapons.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Axe Proficiency: Increase damage dealt by axes.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Adrenal Spike: Increase number of strikes returned by refreshing.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Hammers Proficiency: Increase damage dealt by hammers.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Fannypack: Increase count of all thrown weapons.
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="skills_quad q3">
        <div class="quad_container">

            <div class="quad_stat">
                Damage - Prestiging will increase the damage of new melee weapons.
            </div>

            <div class="quad_content">
                <ul class="quad_skills_and_perks">
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Hand to hand: Increase damage of all close range melee attacks.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Blunt Strike Proficiency: Increase damage dealt by bladeless melee weapons.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Lost Ways: Increase damage of elemental attacks.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Whip Proficiency: Increase damage dealt by whips.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Fastball: Increase damage of thrown attacks.
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="skills_quad q4">
        <div class="quad_container">

            <div class="quad_stat">
                Accuracy - Prestiging will improve the accuracy of new melee weapons.
            </div>

            <div class="quad_content">
                <ul class="quad_skills_and_perks">
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Hail Mary: Increase range of all thrown attacks.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Lance Proficiency: Increase damage dealt by lances.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Firm Footing: Increase accuracy of short melee attacks.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Thrown Accurracy: Increase accuracy of all thrown weapons.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Cold Focus: Increase accuracy of all melee and thrown attacks.
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@code
{
    
}