<div class="skills_container">
    <div class="skills_quad q1">
        <div class="quad_container">

            <div class="quad_stat">
                Ammo - Prestiging will improve the clip capacity of new ranged weapons.
            </div>

            <div class="quad_content">
                <ul class="quad_skills_and_perks">
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Hotshot: Increase damage of succesful ranged hits.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Shotgun Proficiency: Increase damage dealt by shotguns.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Overload: Increase hit count of all ranged weapons.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - SMG Proficiency: Increase damage dealt by SMGs.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Trigger Arm: Increase damage of all thrown weapons.
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="skills_quad q2">
        <div class="quad_container">

            <div class="quad_stat">
                Reload - Prestiging will increse the number of rounds reloaded for new ranged weapons.
            </div>

            <div class="quad_content">
                <ul class="quad_skills_and_perks">
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Deep Pockets: Increase capacity of all ranged weapons.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Sniper Proficiency: Increase damage dealt by snipers.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Deep Pockets: Increase number of rounds returned by reloading.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - LMG Proficiency: Increase damage dealt by LMGs.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Deep Pockets: Increase count of all thrown weapons.
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="skills_quad q3">
        <div class="quad_container">

            <div class="quad_stat">
                Damage - Prestiging will increse the damage of new ranged weapons.
            </div>

            <div class="quad_content">
                <ul class="quad_skills_and_perks">
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Sure Impact: Increase damage of all range attacks.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Pistol Proficiency: Increase damage dealt by Pistols.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Powderkeg: Increase damage of explosive attacks.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Launcher Proficiency: Increase damage dealt by launchers.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Curveball: Increase accuracy of thrown attacks.
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="skills_quad q4">
        <div class="quad_container">

            <div class="quad_stat">
                Accuracy - Prestiging will improve the accuracy of new ranged weapons.
            </div>

            <div class="quad_content">
                <ul class="quad_skills_and_perks">
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Deep Breath: Increase accuracy of long range attacks.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Bow Proficiency: Increase damage dealt by bows.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Spray and Pray: Increase accuracy of short range attacks.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Thrown Damage: Increase damage dealt by thrown weapons.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Fire Fight: Increase accuracy of all ranged and thrown attacks.
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>

@code
{
    
}