<div class="skills_container">
    <div class="skills_quad q1">
        <div class="quad_container">

            <div class="quad_stat">
                Power - Prestiging will improve the damage new weapons provide.
            </div>

            <div class="quad_content">
                <ul class="quad_skills_and_perks">
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Download: Increase damge of all weapons.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Upload: Increase accuracy of all weapons.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Martial Arts: Increase all damage and accuracy of melee weapons.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Target Practice: Increase all damage and accuracy of ranged weapons.   
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Ringer: Increase all damage and accuracy for all weapons.
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="skills_quad q2">
        <div class="quad_container">

            <div class="quad_stat">
                Loadout - Prestiging will improve ammo, strikes and throws new weapons provide.
            </div>

            <div class="quad_content">
                <ul class="quad_skills_and_perks">
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Barrier: 
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Barrier: 
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Barrier: Decreases damage dealt to friendlies in a specific zone.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Barrier: 
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Barrier: 
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="skills_quad q3">
        <div class="quad_container">

            <div class="quad_stat">
                Cooldown - Prestiging will improve the capacity new weapons provide.
            </div>

            <div class="quad_content">
                <ul class="quad_skills_and_perks">
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Barrier: 
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Cleric: 
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Barrier: 
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Cleric: 
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Headrush: 
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="skills_quad q4">
        <div class="quad_container">

            <div class="quad_stat">
                Mastery - Prestiging will improve the accuracy new weapons provide.
            </div>

            <div class="quad_content">
                <ul class="quad_skills_and_perks">
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Toolkit: Increase armor recharge for all friendlies.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Socialized: Earn a % of EXP from all battles and won by friendlies.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Bandaid: Increase health regen for all friendlies.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Skill - Morale Boost: Increase EXP earned from combat for friendlies.
                        </div>
                    </li>
                    <li class="quad_skills">
                        <div class="node_div">
                            Perk - Overwatch: Decreases damage dealt to all friendlies.
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>

@code
{
    
}