.actor_container {
    width: 564px;
    height: 550px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.foes {
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 1%;
    width: 98%;
    height: 99%;
    border-radius: 15px;
}

.foe_list {
    padding: 0px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}