<div class="popover_section popover_left font_gst">
    <div class="popover_heading">What would you like to do?</div>
    <div class="popover_content">
        
    </div>
</div>

<div class="popover_section popover_right font_gst">
    <div class="popover_heading"></div>
    <div class="popover_content">
        
    </div>
</div>



@code {


}